<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container"
    style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/application/view_banner.jpg);">
    <div class="main-view center">
      <div class="text">
        <div class="title wow fadeInDown">
          <i class="icon iconfont icon-linye"></i>
          <span>Forestry</span>
        </div>
        <div class="info wow fadeInUp">
          GVI Applications Series: LiDAR in Forestry
        </div>
      </div>
    </div>
  </section>
  <section class="crumbs-container">
    <div class="main-view center">
      <div class="crumbs-wrapper wow fadeInLeft">
        <a href="">HOME</a>
        <span>&gt;&gt;</span>
        <a href="">APPLICATIONS</a>
        <span>&gt;&gt;</span>
        <a href="">Forestry</a>
      </div>
    </div>
  </section>
  <section class="advs-container module">
    <div class="main-view center">
      <div class="module-title">
        <h2 class="title wow fadeInUp">Advantage</h2>
      </div>
      <ul class="advs-list">
        <li class="advs-item wow fadeInRight" data-wow-delay=".2s">
          <div class="icon-wrap">
            <i class="icon iconfont icon-DataSunburst"></i>
          </div>
          <div class="text">
            <div class="title">Accuracy</div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
          </div>
        </li>
        <li class="advs-item wow fadeInRight" data-wow-delay=".4s">
          <div class="icon-wrap">
            <i class="icon iconfont icon-measure"></i>
          </div>
          <div class="text">
            <div class="title">Measure</div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
          </div>
        </li>
        <li class="advs-item wow fadeInRight" data-wow-delay=".6s">
          <div class="icon-wrap">
            <i class="icon iconfont icon-ScaleFilled"></i>
          </div>
          <div class="text">
            <div class="title">Scale</div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="recom-container module bg-green">
    <div class="main-view center">
      <div class="module-title">
        <h2 class="title white wow fadeInUp">Recommended Products</h2>
      </div>
      <ul class="recom-list">
        <li class="recom-item wow fadeInLeft" data-wow-delay=".2s">
          <div class="left-pro">
            <img src="/public/img/application/pro01.png"  alt="">
          </div>
          <div class="right-text">
            <div class="title">PRODUCT</div>
            <div class="line"></div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
            <a href="" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
        <li class="recom-item wow fadeInLeft" data-wow-delay=".4s">
          <div class="left-pro">
            <img src="/public/img/application/pro01.png"  alt="">
          </div>
          <div class="right-text">
            <div class="title">PRODUCT</div>
            <div class="line"></div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
            <a href="" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
        <li class="recom-item wow fadeInLeft" data-wow-delay=".6s">
          <div class="left-pro">
            <img src="/public/img/application/pro01.png"  alt="">
          </div>
          <div class="right-text">
            <div class="title">PRODUCT</div>
            <div class="line"></div>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
            <a href="" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="case-container module bg-gray">
    <div class="main-view center">
      <div class="module-title">
        <h2 class="title wow fadeInUp">
          Case Presentation
        </h2>
      </div>
      <ul class="case-list">
        <li class="case-item wow fadeInLeft">
          <div class="case-img">
            <img src="/public/img/application/case01.jpg" alt="">
          </div>
          <div class="case-text">
            <div class="title">CASE-TITLE</div>
            <div class="note">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
            </div>
            <a href="/event_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
        <li class="case-item wow fadeInRight">
          <div class="case-img">
            <img src="/public/img/application/case01.jpg" alt="">
          </div>
          <div class="case-text">
            <div class="title">CASE-TITLE</div>
            <div class="note">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
            </div>
            <a href="/event_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
        <li class="case-item wow fadeInLeft">
          <div class="case-img">
            <img src="/public/img/application/case01.jpg" alt="">
          </div>
          <div class="case-text">
            <div class="title">CASE-TITLE</div>
            <div class="note">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
              </p>
            </div>
            <a href="/event_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/talk/index.html") %>
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>