<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container"
      style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/blog/banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">Blog View</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">You can find the company information here</div>
        </div>
      </div>
    </section>
    <section class="crumbs-container">
      <div class="main-view center">
        <div class="crumbs-wrapper wow fadeInLeft">
          <a href="">HOME</a>
          <span>&gt;&gt;</span>
          <a href="">BLOG VIEW</a>
        </div>
      </div>
    </section>
    <section class="main-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            NEWS TITLE
          </h2>
          <div class="date">-- 05 DEC 2021 --</div>
        </div>
        <div class="main-content pc wow fadeInUp">
          <img src="/public/img/blog/blog_cont.jpg" style="margin-bottom: 30px;" alt="">
          <p style="line-height: 1.5;margin-bottom:10px;text-indent: 2em;color:#666;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugit, neque sapiente veritatis numquam ipsum
            labore corporis sunt quasi ducimus harum laboriosam perspiciatis optio quam eveniet error recusandae itaque
            perferendis.
          </p>
          <p style="line-height: 1.5;margin-bottom:10px;text-indent: 2em;color:#666;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nesciunt, itaque dicta doloremque
            recusandae qui eum quis dolorum eveniet at consequatur sapiente error nam beatae illo modi! Ullam,
            laudantium vero.
          </p>
          <p style="line-height: 1.5;margin-bottom:10px;text-indent: 2em;color:#666;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab odit pariatur saepe nulla velit. Facilis
            nulla, corporis iste suscipit expedita accusantium dolores, velit aut quam doloremque, architecto totam
            repudiandae!
          </p>
          <p style="line-height: 1.5;margin-bottom:10px;text-indent: 2em;color:#666;">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, impedit nemo distinctio rem doloribus
            illo! Cupiditate officia dolorum maiores tempora quod ducimus, facere placeat corrupti libero reiciendis
            facilis, odit provident.
          </p>
          <p style="line-height: 1.5;margin-bottom:10px;text-indent: 2em;color:#666;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, qui. Iste deserunt velit magnam
            reprehenderit? Cumque maxime esse dolorum veniam non voluptates quo vero sunt saepe, explicabo velit? Iste,
            fugiat?
          </p>
        </div>
        <div class="main-content mobile wow fadeInUp">
          <img src="/public/img/blog/blog_cont.jpg" style="margin-bottom: 15px;" alt="">
          <p style="line-height: 1.3;margin-bottom:8px;text-indent: 2em;color:#666;font-size:12px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugit, neque sapiente veritatis numquam ipsum
            labore corporis sunt quasi ducimus harum laboriosam perspiciatis optio quam eveniet error recusandae itaque
            perferendis.
          </p>
          <p style="line-height: 1.3;margin-bottom:8px;text-indent: 2em;color:#666;font-size:12px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nesciunt, itaque dicta doloremque
            recusandae qui eum quis dolorum eveniet at consequatur sapiente error nam beatae illo modi! Ullam,
            laudantium vero.
          </p>
          <p style="line-height: 1.3;margin-bottom:8px;text-indent: 2em;color:#666;font-size:12px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab odit pariatur saepe nulla velit. Facilis
            nulla, corporis iste suscipit expedita accusantium dolores, velit aut quam doloremque, architecto totam
            repudiandae!
          </p>
          <p style="line-height: 1.3;margin-bottom:8px;text-indent: 2em;color:#666;font-size:12px">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, impedit nemo distinctio rem doloribus
            illo! Cupiditate officia dolorum maiores tempora quod ducimus, facere placeat corrupti libero reiciendis
            facilis, odit provident.
          </p>
          <p style="line-height: 1.3;margin-bottom:8px;text-indent: 2em;color:#666;font-size:12px">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, qui. Iste deserunt velit magnam
            reprehenderit? Cumque maxime esse dolorum veniam non voluptates quo vero sunt saepe, explicabo velit? Iste,
            fugiat?
          </p>
        </div>
        <ul class="prev-next">
          <li class="prev wow fadeInLeft">
            <a href=""><i>«</i> PREV</a>
          </li>
          <li class="next wow fadeInRight">
            <a href="">NEXT <i>»</i></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="recom-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            Recommended Articles
          </h2>
        </div>
        <ul class="recom-list">
          <li class="recom-item wow fadeInUp" data-wow-delay=".2s">
            <a href="event_view.html">
              <div class="img" style="background-image: url(/public/img/blog/blog01.jpg);"></div>
              <div class="text">
                <div class="date">05 Jan 2021</div>
                <div class="title">Best House Renovation</div>
                <div class="info">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam obcaecati magnam?
                </div>
                <a href="" class="more module">READ MORE &gt;&gt;</a>
              </div>
            </a>
          </li>
          <li class="recom-item wow fadeInUp" data-wow-delay=".4s">
            <a href="event_view.html">
              <div class="img" style="background-image: url(/public/img/blog/blog01.jpg);"></div>
              <div class="text">
                <div class="date">05 Jan 2021</div>
                <div class="title">Best House Renovation</div>
                <div class="info">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam obcaecati magnam?
                </div>
                <a href="" class="more module">READ MORE &gt;&gt;</a>
              </div>
            </a>
          </li>
          <li class="recom-item wow fadeInUp" data-wow-delay=".5s">
            <a href="event_view.html">
              <div class="img" style="background-image: url(/public/img/blog/blog01.jpg);"></div>
              <div class="text">
                <div class="date">05 Jan 2021</div>
                <div class="title">Best House Renovation</div>
                <div class="info">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam obcaecati magnam?
                </div>
                <a href="" class="more module">READ MORE &gt;&gt;</a>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>