<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container"
      style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/overview/banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">Overview</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">
            Comprehensive Point Cloud Post-Processing Suite
          </div>
        </div>
      </div>
    </section>
    <section class="crumbs-container">
      <div class="main-view center">
        <div class="crumbs-wrapper wow fadeInLeft">
          <a href="">HOME</a>
          <span>&gt;&gt;</span>
          <a href="">OVERVIEW</a>
        </div>
      </div>
    </section>
    <section class="main-product-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title">Hardware</h2>
          <div class="info">Here is the introduction of the hardware</div>
        </div>
        <ul class="cate-list">
          <!-- 这里选中当前分类，有个active -->
          <li class="cate-item">
            <a href="#LiAir" title="LiAir Series">LiAir Series</a>
          </li>
          <li class="cate-item">
            <a href="#LiBackpack" title="LiBackpack Series">LiBackpack Series</a>
          </li>
          <li class="cate-item">
            <a href="#LiEagle" title="LiEagle">LiEagle</a>
          </li>
          <li class="cate-item">
            <a href="#LiHawd" title="LiHawd">LiHawd</a>
          </li>
          <li class="cate-item">
            <a href="#LiMobile" title="LiMobile">LiMobile</a>
          </li>
        </ul>
        <div class="pro-wrap">
          <dl class="pro-box-list" id="LiAir">
            <dt class="pro-title">
              <div class="title">
                LiAir Series
              </div>
            </dt>
            <dd class="pro-rslist">
              <ul class="pro-rslist-list">
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="pro-box-list" id="LiBackpack">
            <dt class="pro-title">
              <div class="title">
                LiBackPack
              </div>
            </dt>
            <dd class="pro-rslist">
              <ul class="pro-rslist-list">
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="pro-box-list one ml0" id="LiEagle">
            <dt class="pro-title">
              <div class="title">
                LiEagle
              </div>
            </dt>
            <dd class="pro-rslist">
              <ul class="pro-rslist-list">
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="pro-box-list one" id="LiHawd">
            <dt class="pro-title">
              <div class="title">
                LiHawk
              </div>
            </dt>
            <dd class="pro-rslist">
              <ul class="pro-rslist-list">
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="pro-box-list one mr0" id="LiMobile">
            <dt class="pro-title">
              <div class="title">
                LiMobile
              </div>
            </dt>
            <dd class="pro-rslist">
              <ul class="pro-rslist-list">
                <li class="pro-rslist-item">
                  <div class="head">
                    <div class="model-box">
                      <div class="model">
                        LiAir<span>250</span>
                      </div>
                      <a href="overview_view.html">
                        <i class="icon iconfont icon-youjiantou"></i>
                      </a>
                    </div>
                    <div class="img">
                      <img src="/public/img/product/product01.png" alt="">
                    </div>
                    <p class="note">UAV 3D Mapping System</p>
                  </div>
                  <div class="body">
                    <div class="title">
                      Specifications
                    </div>
                    <table class="scroll">
                      <tbody>
                        <tr class="firstRow">
                          <td>Laser Sensor</td>
                          <td>Riegl miniVUX-1 UAV</td>
                        </tr>
                        <tr>
                          <td>Range Accuracy</td>
                          <td>0.3~250 m@ Reflectance ≥60%</td>
                        </tr>
                        <tr>
                          <td>System Accuracy</td>
                          <td>±3 cm</td>
                        </tr>
                        <tr>
                          <td rowspan="2" colspan="1">POS System Performance</td>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Attitude: 0.006° (1σ)</td>
                        </tr>
                        <tr>
                          <td>Onboard Storage</td>
                          <td>128 GB</td>
                        </tr>
                        <tr>
                          <td>Ports Available</td>
                          <td>Ethernet</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>
                            3.78 kg excl. <br>
                            battery & camera
                          </td>
                        </tr>
                        <tr>
                          <td>Dimensions (Main Unit)</td>
                          <td>1105*145*148 mm</td>
                        </tr>
                        <tr>
                          <td>Max. Flight Time</td>
                          <td>21 min (M600 Pro)</td>
                        </tr>
                        <tr>
                          <td>Camera</td>
                          <td>Sony a6000(optional)</td>
                        </tr>
                        <tr>
                          <td>Route Planning Software</td>
                          <td>LiPlan (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Acquisition /PP POS Software</td>
                          <td>LiAcquire (proprietary)</td>
                        </tr>
                        <tr>
                          <td>Field of View</td>
                          <td>up to 360°</td>
                        </tr>
                        <tr>
                          <td>Scan Rate</td>
                          <td>100,000 pts/s</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </dd>
          </dl>
        </div>

      </div>
    </section>
    <section class="module software-container bg-green">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title white wow fadeInUp">Software</h2>
          <div class="line white"></div>
          <div class="note white wow fadeInUp">Here is the introduction of the software</div>
        </div>
      </div>
      <div class="software-wrapper center">
        <ul class="software-list">
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiMapper
            </h3>
            <div class="info">
              <p>processing</p>
              <p>processing</p>
              <p>processing</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiMapper
            </h3>
            <div class="info">
              <p>processing</p>
              <p>processing</p>
              <p>processing</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiPowerLine
            </h3>
            <div class="info">
              <p>Powerline Analysis</p>
              <p>Powerline Analysis</p>
              <p>Powerline Analysis</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              Ligeoreference
            </h3>
            <div class="info">
              <p>georeferencing</p>
              <p>georeferencing</p>
              <p>georeferencing</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiCrop
            </h3>
            <div class="info">
              <p>Fast access to data</p>
              <p>Fast access to data</p>
              <p>Fast access to data</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>