<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="swiper-container home-banner">
        <ul class="swiper-wrapper">
          <li class="swiper-slide"  data-swiper-autoplay="5000">
            <!-- <div class="center main-cont">
              <div class="left-img" data-swiper-parallax="-1500">
                <img src="/public/img/home/banner-product.png" alt="">
              </div>
              <div class="right-text" data-swiper-parallax="-1500">
                <p>Light-weighted Airborne LiDAR System</p>
                <h2>
                  LiAir V70<br>
                  UAV 3D Mapping System
                </h2>
                <p>
                  Can be mounted on DJI`s, M200 RTK<br>
                  M300 RTK and M600 Series platforms
                </p>
                <a href="" class="more">MORE</a>
              </div>
            </div> -->
            <!-- <div class="bg-img" style="background-image: url(/public/img/home/banner-bg.jpg);"></div> -->
            <img style="width: 100%;" src="http://greenvalleyintl07.relx001.com/static/upload/image/20210708/1625744219156404.png" alt="">
          </li>

        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="module hardware-container bg-gray">
      <div class="center main-view">
        <div class="module-title">
          <h2 class="title wow fadeInUp">Hardware</h2>
          <div class="line"></div>
          <div class="note wow fadeInUp">
            Here is the introduction of the hardwrae.
          </div>
        </div>
        <ul class="hardware-list">
          <li class="hardware-item wow fadeInLeft">
            <a href="">
              <div class="img" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/home/application01.jpg);">
                <div class="title">LIDAR360</div>
                <div class="info">LIDAR POST-PROCESSING</div>
              </div>
            </a>
            
          </li>
          <li class="hardware-item wow fadeInRight">
            <a href="">
              <div class="img" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/home/application01.jpg);">
                <div class="title">LIMAPPER</div>
                <div class="info">LIMAPPER PROCESSING</div>
              </div>
            </a>
          </li>
          <li class="hardware-item wow fadeInLeft">
            <a href="">
              <div class="img" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/home/application01.jpg);">
                <div class="title">LIPOWERLINE</div>
                <div class="info">LIPOWERLINE ANALYSIS</div>
              </div>
            </a>
          </li>
          <li class="hardware-item wow fadeInRight">
            <a href="">
              <div class="img" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/home/application01.jpg);">
                <div class="title">LIGEOREFERENCE</div>
                <div class="info">LIGEOREFERENCE</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="module software-container bg-green">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title white wow fadeInUp">Software</h2>
          <div class="line white"></div>
          <div class="note white wow fadeInUp">Here is the introduction of the software</div>
        </div>
      </div>
      <div class="software-wrapper center">
        <div class="software-left software-cont wow fadeInLeft">
          <h3 class="title">
            LiDAR360
          </h3>
          <div class="info">
            <p>Post-processing</p>
            <p>Post-processing</p>
            <p>Post-processing</p>
          </div>
          <a href="" class="more">READ MORE »</a>
          <img src="/public/img/hardware.png" alt="" class="icon">
        </div>
        <ul class="software-list">
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiMapper
            </h3>
            <div class="info">
              <p>processing</p>
              <p>processing</p>
              <p>processing</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiPowerLine
            </h3>
            <div class="info">
              <p>Powerline Analysis</p>
              <p>Powerline Analysis</p>
              <p>Powerline Analysis</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              Ligeoreference
            </h3>
            <div class="info">
              <p>georeferencing</p>
              <p>georeferencing</p>
              <p>georeferencing</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
          <li class="software-item software-cont wow fadeInRight">
            <h3 class="title">
              LiCrop
            </h3>
            <div class="info">
              <p>Phenotyping Data Acquisition System</p>
              <p>Phenotyping Data Acquisition System</p>
              <p>Phenotyping Data Acquisition System</p>
            </div>
            <a href="" class="more">READ MORE »</a>
            <img src="/public/img/hardware.png" alt="" class="icon">
          </li>
        </ul>
      </div>
    </section>
    <section class="module applications-container bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            Applications
          </h2>
          <div class="line"></div>
          <div class="note wow fadeInUp">
            <!-- 这里是需要有内容的 -->
          </div>
        </div>
        <ul class="applications-list">
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                ALIGNING 3D
              </div>
              <div class="info">
                Data set alignment also referred to as co-registration, can be quickly carried...
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                ALIGNING 3D
              </div>
              <div class="info">
                Data set alignment also referred to as co-registration, can be quickly carried...
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                URBAN POWER LINE
              </div>
              <div class="info">
                A previous article showcased GVI solutions using UAV LiDAR for...
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                POWER LINE CORRIDOR
              </div>
              <div class="info">
                Using LiAir Series and LiDAR360's Power Line module to detect
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                CALCULATING SAND
              </div>
              <div class="info">
                Solution using GVI LiBackpack D50 and LiDAR360 that allow clients...
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>
          <li class="application-item wow fadeInUp">
            <div class="text">
              <div class="title">
                CALCULATING SAND
              </div>
              <div class="info">
                Solution using GVI LiBackpack D50 and LiDAR360 that allow clients...
              </div>
              <a href="" class="more">
                READ MORE »
              </a>
            </div>
            <div class="img" style="background-image: url(/public/img/home/application01.jpg);">
            </div>
          </li>

        </ul>
      </div>
    </section>
    <section class="module about-container bg-green">
      <div class="main-view center">
        <div class="left-info wow fadeInLeft">
          <div class="note">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis voluptatum necessitatibus ab!
            Veritatis, corporis expedita voluptas itaque natus amet officia fugit neque? Eius, ducimus? Impedit, nemo.
            Non sunt obcaecati vero modi accusantium officia aut totam labore sequi eos at ipsam, inventore recusandae.
            Sequi modi rerum animi natus, asperiores debitis omnis. Tempora ipsa, voluptate neque illo ex numquam,
            corrupti vero cum recusandae tempore, quaerat corporis tenetur facere? Praesentium fugit enim maxime veniam
            nobis iusto perspiciatis vel nisi consequatur cumque aperiam dolores quos molestias consectetur, natus illo
            modi id veritatis blanditiis! Beatae eligendi veniam magnam doloribus tenetur, repudiandae velit molestiae
            at aut?
          </div>
          <button class="btn">ABOUT US</button>
        </div>
        <div class="right-message wow fadeInRight">
          <form action="" class="message-container">
            <label for="">
              <input type="text" name="first-name" id="first-name" placeholder="First Name *">
            </label>
            <label for="">
              <input type="text" name="last-name" id="last-name" placeholder="Last Name *">
            </label>
            <label for="">
              <input type="text" name="email" id="email" placeholder="Email *">
            </label>
            <label for="">
              <input type="text" name="company" id="company" placeholder="Company *">
            </label>
            <label for="">
              <select name="country" id="country">
                <option value="Country" selected disabled>Country</option>
                <option value="Country01">Country01</option>
                <option value="Country02">Country02</option>
                <option value="Country03">Country03</option>
              </select>
            </label>
            <label for="">
              <select name="inquiry-type" id="inquiry-type">
                <option value="Inquiry Type" selected disabled>Inquiry Type</option>
                <option value="Inquiry01">Inquiry01</option>
                <option value="Inquiry02">Inquiry02</option>
                <option value="Inquiry03">Inquiry03</option>
              </select>
            </label>
            <label for="">
              <select name="product" id="product">
                <option value="Product" selected disabled>Product</option>
                <option value="product01">product01</option>
                <option value="product02">product02</option>
                <option value="product03">product03</option>
              </select>
            </label>
            <label for="">
              <select name="application" id="application">
                <option value="Application" selected disabled>Application</option>
                <option value="application01">application01</option>
                <option value="application02">application02</option>
                <option value="application03">application03</option>
              </select>
            </label>
            <label for="" class="content">
              <textarea class="scroll" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            </label>
            <button type="submit" class="submit">
              SEND MESSAGE
            </button>
          </form>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>