<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container"
    style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/support/banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">Support</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">
            GVI provrdes useful resources to support your work
          </div>
        </div>
      </div>
    </section>
    <section class="crumbs-container">
      <div class="main-view center">
        <div class="crumbs-wrapper wow fadeInLeft">
          <a href="">HOME</a>
          <span>&gt;&gt;</span>
          <a href="">SUPPORT RESOURCES</a>
        </div>
      </div>
    </section>
    <section class="support-container module bg-gray">
      <div class="main-view center">
        <ul class="support-list">
          <li class="support-item">
            <div class="title">Software Download</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet.
            </div>
            <a href="javascript:;" class="hover btn">
              <i class="icon iconfont icon-download1"></i>
              <span>DOWNLOAD</span>
            </a>
            <div class="links">
              <i class="iconfont icon-close close"></i>
              <a class="btn" href="">文本1</a>
              <a class="btn" href="">文本2</a>
              <a class="btn" href="">文本3</a>
              <a class="btn" href="">文本4</a>
              <a class="btn" href="">文本5</a>
            </div>
            <i class="img-icon icon iconfont icon-ruanjianzhongxin"></i>

          </li>
          <li class="support-item">
            <div class="title">Tutorial Document</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet.
            </div>
            <a href="" class="btn">
              <i class="icon iconfont icon-0_view"></i>
              <span>VIEW MORE</span>
            </a>
            <i class="img-icon icon iconfont icon-wendang"></i>
          </li>
          <li class="support-item">
            <div class="title">Knowleage Base</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet.
            </div>
            <a href="" class="btn">
              <i class="icon iconfont icon-0_view"></i>
              <span>LEARN MORE</span>
            </a>
            <i class="img-icon icon iconfont icon-zhishikuguanli"></i>
          </li>
          <li class="support-item">
            <div class="title">Aftersales Policies</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet.
            </div>
            <a href="" class="btn">
              <i class="icon iconfont icon-shouhoufuwuicon"></i>
              <span>VIEW MORE</span>
            </a>
            <i class="img-icon icon iconfont icon-book"></i>
          </li>
        </ul>
      </div>
    </section>
    <section class="video-container module bg-green">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title white">
            Tutorial Video
          </h2>
        </div>
        <ul class="video-list">
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline Lipowerline Lipowerline Lipowerline Lipowerline</div>
          </li>
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline</div>
          </li>
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline</div>
          </li>
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline</div>
          </li>
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline</div>
          </li>
          <li class="video-item">
            <div class="video-box">
              <iframe class="framework-video-wrap"
            src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed" scrolling="no"
            border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
            <div class="title">Lipowerline</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="contact-container module bg-gray">
      <div class="main-view center">
        <div class="forum-wrapper">
          <div class="module-title">
            <h2 class="title">Forum & Community</h2>
            <div class="note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
          </div>
          <ul class="forum-list">
            <li class="forum-item">
              <a href="">LiAir Series</a>
            </li>
            <li class="forum-item">
              <a href="">LiBackpack Series</a>
            </li>
            <li class="forum-item">
              <a href="">LiDAR 360</a>
            </li>
            <li class="forum-item">
              <a href="">LiGeoreference</a>
            </li>
          </ul>
        </div>
        <div class="contact-wrapper">
          <div class="module-title">
            <h2 class="title">
              Technical Support
            </h2>
          </div>
          <div class="contact-infos">
            <p>
              Ask on GVI User Forum to get answer from GVI Tech Support Specialist and the user community.
            </p>
            <p>
              Log into <i>LiCloud</i> to create a support ticket.
            </p>
            <p>
              Email support@greenvalleyintl.com.
            </p>
          </div>
          <from class="message">
            <label for="">
              <textarea placeholder="Message" class="scroll" name="" id="" cols="30" rows="6"></textarea>
            </label>
            <label for="" class="w50 pr">
              <input type="text" placeholder="First Name">
            </label>
            <label for="" class="w50 pl">
              <input type="text" placeholder="Last Name">
            </label>
            <label for="" class="w50 pr">
              <input type="text" placeholder="E-mail">
            </label>
            <label for="" class="w50 pl">
              <select name="" id="">
                <option value="Type" disabled selected>Type</option>
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
                <option value="Type3">Type3</option>
              </select>
            </label>
            <button type="submit" class="submit" >Brochure</button>
          </from>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>