<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container"
      style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/product/lidar360_banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">LiFuser-BP</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">Data Processing , Visudization and Optimization Software
            for GVI LiBackpack.</div>
          <ul class="btn-list">
            <li class="btn-item wow fadeInRight">
              <a href="">Brochure</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="framework-container module">
      <div class="main-view center">
        <div class="framework-text wow fadeInLeft">
          <div class="title">
            Framework
          </div>
          <div class="info">
            LiPowerline offers a complete and intuitive solution for power line inspection from LiDAR point clouds. It includes a powerful toolset for automatically classifying power lines, towers and vegetations, manually augmenting the classification results, and effectively detecting a range of user-defined danger points (e.g., vegetation overgrowth and tree fall). It’s built-in reporting function allows users to quickly generate detailed project reports and export inspection results to KML file format.
          </div>
        </div>
        <div class="advantage-text wow fadeInRight">
          <div class="title">
            Advantage
          </div>
          <ul class="advantage-list">
            <li class="advantage-item">
              Input data from point cloud, models, rastees, vectors and more
            </li>
            <li class="advantage-item">
              Classification tools
            </li>
            <li class="advantage-item">
              Automatic strip alignment
            </li>
            <li class="advantage-item">
              Display by elevation, intensity,category, RGB, combination, etc
            </li>
            <li class="advantage-item">
              Display modes: Mixed display, terrID, EDL, Glass
            </li>
            <li class="advantage-item">
              Display and measure flight path files
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="reaults-container module bg-green">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title white wow fadeInUp">Reaults</h2>
        </div>
        <ul class="reaults-list">
          <li class="reaults-item wow fadeInUp">
            <div class="img" style="background-image: url(/public/img/product/reaults01.jpg);"></div>
            <div class="title">SLAM-generated Point cloud</div>
          </li>
          <li class="reaults-item wow fadeInUp">
            <div class="img" style="background-image: url(/public/img/product/reaults01.jpg);"></div>
            <div class="title">SLAM-generated Point cloud</div>
          </li>
          <li class="reaults-item wow fadeInUp">
            <div class="img" style="background-image: url(/public/img/product/reaults01.jpg);"></div>
            <div class="title">SLAM-generated Point cloud</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="recom-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            Recommended Products
          </h2>
        </div>
        <ul class="recom-list">
          <li class="recom-item wow fadeInUp">
            <div class="img">
              <img src="/public/img/product/product01.png" alt="">
            </div>
            <div class="note">UAV 3D Mapping System</div>
            <a href="" class="text">
              <div class="model">
                LiAir 250
              </div>
              <i class="icon iconfont icon-youjiantou"></i>
            </a>
          </li>
          <li class="recom-item wow fadeInUp">
            <div class="img">
              <img src="/public/img/product/product01.png" alt="">
            </div>
            <div class="note">UAV 3D Mapping System</div>
            <a href="" class="text">
              <div class="model">
                LiAir 250
              </div>
              <i class="icon iconfont icon-youjiantou"></i>
            </a>
          </li>
          <li class="recom-item wow fadeInUp">
            <div class="img">
              <img src="/public/img/product/product01.png" alt="">
            </div>
            <div class="note">UAV 3D Mapping System</div>
            <a href="" class="text">
              <div class="model">
                LiAir 250
              </div>
              <i class="icon iconfont icon-youjiantou"></i>
            </a>
          </li>
        </ul>
        <a href="" class="more wow fadeInUp">MORE PRODUCTS</a>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>