<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container"
      style="background-image:linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/public/img/service/banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">Services</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">LiCloud Geospatial Data Processing Services</div>
          <div class="note wow fadeInUp" data-wow-delay=".8s">
            GVI’s geospatial data post-processing services include the generation of photogrammetry and LIDAR
            deliverables that can include custom structuring and attribute creation.
          </div>
          <ul class="btn-list">
            <li class="btn-item wow fadeInRight">
              <a href="/service_enquire.html">Enquire</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="crumbs-container">
      <div class="main-view center">
        <div class="crumbs-wrapper wow fadeInLeft">
          <a href="">HOME</a>
          <span>&gt;&gt;</span>
          <a href="">Services</a>
        </div>
      </div>
    </section>
    <section class="manual-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            Manual & Auto mated Post-Processing via LiCloud Platform
          </h2>
        </div>
        <div class="manual-cont wow fadeInUp">
          <img src="/public/img/service/manual.png" alt="">
        </div>
      </div>
    </section>
    <section class="adv-container" style="background-image: url(/public/img/product/adv01.jpg);">
      <div class="main-view center">
        <div class="logo">
          <img src="/public/img/product/lidar360.png" alt="">
        </div>
        <div class="text">
          15-day free trial on all our post-processing software. Need more time? <br>
          Contact us.
        </div>
        <a href="" class="download">
          <i class="icon iconfont icon-download"></i>
          <span>APPLY</span>
        </a>
      </div>
    </section>
    <section class="industries-container module bg-gray">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title wow fadeInUp">
            LiDAR Solutions For Different Industries
          </h2>
        </div>
        <ul class="industries-list">
          <li class="industries-item wow fadeInUp">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries01.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-linye"></i>
                  <span>FORESTRY</span>
                </div>
              </div>
              <div class="text">
                <p>Individual Tree Segmentation</p>
                <p>UAV Forestry</p>
              </div>
            </a>
          </li>
          <li class="industries-item wow fadeInUp" data-wow-delay=".1s">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries02.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-xinhaota"></i>
                  <span>UTILITIES</span>
                </div>
              </div>
              <div class="text">
                <p>Extract Danger Points Along Powerlines</p>
                <p>Detailed Transmission Tower Inspections</p>
              </div>
            </a>
          </li>
          <li class="industries-item wow fadeInUp" data-wow-delay=".2s">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries03.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-mining"></i>
                  <span>MINING</span>
                </div>
              </div>
              <div class="text">
                <p>Mine Volume Calculation</p>
                <p>Mine Tunnel Section Analysis</p>
              </div>
            </a>
          </li>
          <li class="industries-item wow fadeInUp" data-wow-delay=".3s">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries04.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-city-full"></i>
                  <span>AEC</span>
                </div>
              </div>
              <div class="text">
                <p>Point Cloud to BIM</p>
              </div>
            </a>
          </li>
          <li class="industries-item wow fadeInUp" data-wow-delay=".4s">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries05.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-city-full"></i>
                  <span>HD MAP</span>
                </div>
              </div>
              <div class="text">
                <p>Object Detection</p>
                <p>Vectorization & Mapping</p>
              </div>
            </a>
          </li>
          <li class="industries-item wow fadeInUp" data-wow-delay=".5s">
            <a href="/service_enquire.html">
              <div class="img-box">
                <div class="img" style="background-image: url(/public/img/service/industries06.jpg);"></div>
                <div class="title-box">
                  <i class="icon iconfont icon-city-full"></i>
                  <span>AGRICULTURE</span>
                </div>
              </div>
              <div class="text">
                <p>LiCrop</p>
                <p>LiPlant Software</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>