<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="widivh=device-widivh, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container" style="background-image:url(/public/img/overview/view_banner.jpg);">
      <div class="main-view center">
        <div class="text">
          <div class="title wow fadeInUp" data-wow-delay=".2s">LIAIR 250</div>
          <div class="info wow fadeInUp" data-wow-delay=".5s">
            LiAir 250 can generate up to 5 data points per laser pulse from its Riegl miniVUX-1 sensor. That, plus its
            250 meter range, make it a well-qualified choice for mapping the terrain beneath forest canopies.
          </div>
          <ul class="param-list">
            <li class="param-item wow fadeInLeft">
              <div class="param-name">
                Range Accuracy
              </div>
              <div class="param-info">
                ±15 mm
              </div>
            </li>
            <li class="param-item wow fadeInLeft">
              <div class="param-name">
                Weight
              </div>
              <div class="param-info">
                3.78 kg
              </div>
            </li>
            <li class="param-item wow fadeInLeft">
              <div class="param-name">
                Scan Range
              </div>
              <div class="param-info">
                0.3~250 m@ Reflectance ≥60%
              </div>
            </li>
            <li class="param-item wow fadeInLeft">
              <div class="param-name">
                Weight
              </div>
              <div class="param-info">
                3.78 kg
              </div>
            </li>
          </ul>
          <ul class="btn-list">
            <li class="btn-item wow fadeInRight">
              <a href="">Brochure</a>
            </li>
            <li class="btn-item wow fadeInRight">
              <a href="">Userguid</a>
            </li>
            <li class="btn-item wow fadeInRight">
              <a href="">Solution / Aplincation</a>
            </li>
          </ul>
        </div>
        <div class="img">
          <img class="wow fadeInRight" src="/public/img/overview/pro01.png" alt="">
          <a href="" class="btn wow fadeInUp">
            Brochure
          </a>
        </div>
      </div>
    </section>
    <section class="crumbs-container">
      <div class="main-view center">
        <div class="crumbs-wrapper wow fadeInLeft">
          <a href="">HOME</a>
          <span>&gt;&gt;</span>
          <a href="">OVERVIEW</a>
        </div>
      </div>
    </section>
    <section class="framework-container module">
      <div class="main-view center">
        <div class="framework-text wow fadeInLeft">
          <div class="title">
            Overview
          </div>
          <div class="info">
            LiAir 250 is GreenValley International's flagship UAV LiDAR system designed to meet survey-grade project
            requirements. It is equipped with a highly precise navigation system, and can generate point cloud data with
            an absolute vertical accuracy of 3 cm. Together with its capability of a 250 m range measurement and
            recording up to 5 returns per pulse, LiAir 250 is an ideal choice for applications like mapping terrain
            features beneath forest canopy, extracting forest structure parameters from individual tree level to forest
            stand level, inspecting power line corridor, managing and inspecting asset, and so on. Moreover, LiAIr 250
            also provides an option to be equipped with a high-definition digital camera, which can be used to generate
            photogrammetry products as well as true color 3D point clouds
          </div>
        </div>
        <div class="framework-video wow fadeInRight">
          <iframe class="framework-video-wrap" src="https://www.youtube.com/embed/EDZT8Ag42nk?feature=oembed"
            scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
        </div>
      </div>
    </section>
    <section class="module adv01-container bg-green">
      <div class="main-view center">
        <ul class="adv01-list">
          <li class="adv01-item wow fadeInUp">
            <i class="icon iconfont icon-scale1"></i>
            <div class="text">
              <div class="title">LIGHT WEIGHT</div>
              <div class="desc">LiAir 250 weighs only 3.78 kg,The advantage is light and compact.</div>
            </div>
          </li>
          <li class="adv01-item wow fadeInUp" data-wow-delay=".2s">
            <i class="icon iconfont icon-accurate-search-full"></i>
            <div class="text">
              <div class="title">HIGH ACCURACY</div>
              <div class="desc">Configure ultra-high precision camera to lock the object accurately</div>
            </div>
          </li>
          <li class="adv01-item wow fadeInUp" data-wow-delay=".4s">
            <i class="icon iconfont icon-kaiguan"></i>
            <div class="text">
              <div class="title">ONE BUTTON TO START</div>
              <div class="desc">One button to start, energy saving and high efficiency,improve performance</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="module adv02-container bg-gray">
      <div class="main-view center">
        <ul class="adv02-list">
          <li class="adv02-item wow fadeInUp">
            <div class="adv02-title">
              WHY LiAir 200
            </div>
            <ul>
              <li>
                <p>ndividual tree segmentation by span/section</p>
              </li>
              <li>
                Extract danger points along power lines
              </li>
              <li>
                Detect individual tree information such as location, height, crown size, etc.
              </li>
            </ul>
          </li>
          <li class="adv02-item wow fadeInUp" data-wow-delay=".2s">
            <div class="adv02-title">
              WHAT include
            </div>
            <ul>
              <li>
                ndividual tree segmentation by span/section
              </li>
              <li>
                Extract danger points along power lines
              </li>
              <li>
                Detect individual tree information such as location, height, crown size, etc.
              </li>
            </ul>
          </li>
          <li class="adv02-item wow fadeInUp" data-wow-delay=".4s">
            <div class="adv02-title">
              Software
            </div>
            <ul>
              <li>
                ndividual tree segmentation by span/section
              </li>
              <li>
                Extract danger points along power lines
              </li>
              <li>
                Detect individual tree information such as location, height, crown size, etc.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="industry-container module bg-green">
      <div class="main-view center">
        <div class="module-title">
          <h2 class="title white wow fadeInUp">
            Recommend Industry
          </h2>
        </div>
        <ul class="industry-list">
          <li class="industry-item wow fadeInRight" data-wow-delay=".1s">
            <div class="icon-wrap">
              <i class="icon iconfont icon-linye"></i>
            </div>
            <div class="title">Recommend Industry</div>
            <div class="line"></div>
            <div class="note">
              Leverage LiDAR360 processing software to generate geospatial products from mobile, terrestrial, UAV or
              airborne systems that meet critical needs of foresters.
            </div>
            <a href="/application_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </li>
          <li class="industry-item wow fadeInRight" data-wow-delay=".2s">
            <div class="icon-wrap">
              <i class="icon iconfont icon-mining"></i>
            </div>
            <div class="title">MINING</div>
            <div class="line"></div>
            <div class="note">
              Solution using GVI LiBackpack D50 and LiDAR360 that allow clients to quickly and accurately measure the
              volume of sand barge cargo load in various and sometimes difficult operating environments.
            </div>
            <a href="/application_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </li>
          <li class="industry-item wow fadeInRight" data-wow-delay=".3s">
            <div class="icon-wrap">
              <i class="icon iconfont icon-dianlan"></i>
            </div>
            <div class="title">POWERLINE</div>
            <div class="line"></div>
            <div class="note">
              Using LiAir Series and LiDAR360's Power Line module to detect hazardous vegetation overgrowth along the
              transmission lines and pylons.
            </div>
            <a href="/application_view.html" class="more module">
              READ MORE &gt;&gt;
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/talk/index.html") %>
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>