<header class="pc-head">
  <div class="top center wow fadeInDown">
    <ul class="contact-list">
      <li class="contact-item">
        <i class="icon iconfont icon-tubiao210"></i>
        <a href="tel:+1(510)345-2899">+1(510)345-2899</a>
      </li>
      <li class="contact-item">
        <i class="icon iconfont icon-youxiang_huaban"></i>
        <a href="mailto:info@greenvalleyintl.com">info@greenvalleyintl.com</a>
      </li>
      <li class="contact-item">
        <i class="icon iconfont icon-dizhi"></i>
        <a href="javascript:;">2120 University Ave, Berkeley 94704, California, USA</a>
      </li>
    </ul>
    <ul class="icon-list">
      <li class="icon-item">
        <a href="javascript:;" class="common-formShow">
          Subscribe
        </a>
      </li>
      <li class="icon-item">
        <a href="">
          <i class="icon iconfont icon-facebook"></i>
        </a>
      </li>
      <li class="icon-item">
        <a href="">
          <i class="icon iconfont icon-linkedin"></i>
        </a>
      </li>
      <li class="icon-item">
        <a href="">
          <i class="icon iconfont icon-Youtube"></i>
        </a>
      </li>
      <li class="icon-item">
        <a href="">
          <i class="icon iconfont icon-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom center">
    <a href="/" class="logo wow fadeInLeft">
      <img src="/public/img/logo.png" alt="">
    </a>
    <ul class="nav-list wow fadeInRight">
      <li class="nav-item">
        <a href="">
          products
          <i class="icon iconfont icon-arrow-down"></i>
        </a>
        <ul class="nav-sub-list">
          <li class="nav-sub-item">
            <a href="/overview_list.html">
              <span>LiAir</span>
              <i class="icon iconfont icon-iconfontjiantou2"></i>
            </a>
            <ul class="nav-sub3-list">
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiAir 50N</a>
              </li>
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiAirV70</a>
              </li>
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiAir220</a>
              </li>
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiAir250</a>
              </li>
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiEagle</a>
              </li>
              <li class="nav-sub3-item">
                <a href="overview_view.html">LiHawk</a>
              </li>
            </ul>
          </li>
          <li class="nav-sub-item">
            <a href="">
              <span>series-Libackpack</span>
              <i class="icon iconfont icon-iconfontjiantou2"></i>
            </a>
            <ul class="nav-sub3-list">
              <li class="nav-sub3-item">
                <a href="">LiBackpack C50</a>
              </li>
              <li class="nav-sub3-item">
                <a href="">LiBackpackDGC50</a>
              </li>
            </ul>
          </li>
          <li class="nav-sub-item">
            <a href="">series-Limobile</a>
          </li>
          <li class="nav-sub-item">
            <a href="">
              <span>series-Software</span>
              <i class="icon iconfont icon-iconfontjiantou2"></i>
            </a>
            <ul class="nav-sub3-list">
              <li class="nav-sub3-item">
                <a href="/LiDAR360.html">LiDAR360</a>
              </li>
              <li class="nav-sub3-item">
                <a href="/Lipowerline.html">LiPowerline</a>
              </li>
              <li class="nav-sub3-item">
                <a href="/Lifuser_BP.html">LiFuser-BP</a>
              </li>
              <li class="nav-sub3-item">
                <a href="">LiGeoreference</a>
              </li>
              <li class="nav-sub3-item">
                <a href="">LiAcquire</a>
              </li>
            </ul>
          </li>
          <li class="nav-sub-item">
            <a href="/overview_list.html">Overview</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/application_list.html">
          applications
          <i class="icon iconfont icon-arrow-down"></i>
        </a>
        <ul class="nav-sub-list">
          <li class="nav-sub-item">
            <a href="/application_view.html">Forestry</a>
          </li>
          <li class="nav-sub-item">
            <a href="/application_view.html">Minning</a>
          </li>
          <li class="nav-sub-item">
            <a href="/application_view.html">Powerline</a>
          </li>
          <li class="nav-sub-item">
            <a href="/application_view.html">AEC</a>
          </li>
          <li class="nav-sub-item">
            <a href="/application_view.html">Terrain</a>
          </li>
          <li class="nav-sub-item">
            <a href="/application_view.html">LiHawk</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/service.html">
          services
        </a>
      </li>
      <li class="nav-item">
        <a href="/event_list.html">
          blog
        </a>
      </li>
      <li class="nav-item">
        <a href="/support.html">support</a>
      </li>
      <li class="nav-item">
        <a href="/contact.html">
          contact
          <i class="icon iconfont"></i>
        </a>
      </li>
      <!-- 以下部分只有service_enquire页面有，外链，添加后台后，删除该注释即可 -->
      <li class="nav-item">
        <a href="/">
          Login
          <i class="icon iconfont"></i>
        </a>
      </li>
      <!-- /以上部分只有service_enquire页面有，外链，添加后台后，删除该注释即可 -->
    </ul>
  </div>
</header>
<header class="mobile-head">
  <div class="head-show">
    <a href="/" class="logo wow fadeInLeft">
      <img src="/public/img/logo.png" alt="">
    </a>
    <div class="menu wow fadeInRight">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="main-head-container">
    <div class="top">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="javascript:;">
            <span>products</span>
            <i class="icon iconfont icon-arrow-down"></i>
          </a>
          <ul class="nav-sub-list">
            <li class="nav-sub-item">
              <a href="javascript:;">
                <span>LiAir</span>
                <i class="icon iconfont icon-arrow-down"></i>
              </a>
              <ul class="nav-sub3-list">
                <li class="nav-sub3-item">
                  <a href="">LiAir 50N</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiAirV70</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiAir220</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiAir250</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiEagle</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiHawk</a>
                </li>
              </ul>
            </li>
            <li class="nav-sub-item">
              <a href="javascript:;">
                <span>series-Libackpack</span>
                <i class="icon iconfont icon-arrow-down"></i>
              </a>
              <ul class="nav-sub3-list">
                <li class="nav-sub3-item">
                  <a href="">LiBackpack C50</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiBackpackDGC50</a>
                </li>
              </ul>
            </li>
            <li class="nav-sub-item">
              <a href="">series-Limobile</a>
            </li>
            <li class="nav-sub-item">
              <a href="javascript:;">
                <span>series-Software</span>
                <i class="icon iconfont icon-arrow-down"></i>
              </a>
              <ul class="nav-sub3-list">
                <li class="nav-sub3-item">
                  <a href="">LiDAR360</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiPowerline</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiFuser-BP</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiGeoreference</a>
                </li>
                <li class="nav-sub3-item">
                  <a href="">LiAcquire</a>
                </li>
              </ul>
            </li>
            <li class="nav-sub-item">
              <a href="/overview_list.html">Overview</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="javascript:;">
            <span>applications</span>
            <i class="icon iconfont icon-arrow-down"></i>
          </a>
          <ul class="nav-sub-list">
            <li class="nav-sub-item">
              <a href="/application_view.html">Forestry</a>
            </li>
            <li class="nav-sub-item">
              <a href="/application_view.html">Minning</a>
            </li>
            <li class="nav-sub-item">
              <a href="/application_view.html">Powerline</a>
            </li>
            <li class="nav-sub-item">
              <a href="/application_view.html">AEC</a>
            </li>
            <li class="nav-sub-item">
              <a href="/application_view.html">Terrain</a>
            </li>
            <li class="nav-sub-item">
              <a href="/application_view.html">LiHawk</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/service.html">
            <span>services</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/event_list.html">
            <span>blog</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:;">
            <span>support</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/contact.html">
            <span>contact</span>
          </a>
        </li>
        <!-- 以下部分只有service_enquire页面有，外链，添加后台后，删除该注释即可 -->
        <li class="nav-item">
          <a href="/">
            <span>Login</span>
          </a>
        </li>
        <!-- /以上部分只有service_enquire页面有，外链，添加后台后，删除该注释即可 -->
      </ul>
    </div>
    <div class="bottom center">
      <ul class="contact-list">
        <li class="contact-item">
          <i class="icon iconfont icon-tubiao210"></i>
          <a href="tel:+1(510)345-2899">+1(510)345-2899</a>
        </li>
        <li class="contact-item">
          <i class="icon iconfont icon-youxiang_huaban"></i>
          <a href="mailto:info@greenvalleyintl.com">info@greenvalleyintl.com</a>
        </li>
        <li class="contact-item">
          <i class="icon iconfont icon-dizhi"></i>
          <a href="javascript:;">2120 University Ave, Berkeley 94704, California, USA</a>
        </li>
      </ul>
      <ul class="icon-list">
        <li class="icon-item">
          <a href="javascript:;" class="common-formShow">Subscribe</a>
        </li>
        <li class="icon-item">
          <a href="">
            <i class="icon iconfont icon-facebook"></i>
          </a>
        </li>
        <li class="icon-item">
          <a href="">
            <i class="icon iconfont icon-linkedin"></i>
          </a>
        </li>
        <li class="icon-item">
          <a href="">
            <i class="icon iconfont icon-Youtube"></i>
          </a>
        </li>
        <li class="icon-item">
          <a href="">
            <i class="icon iconfont icon-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<section class="common-form-container " id="common_forms">
  <div class="mask"></div>
  <div class="form-wrapper">
    <div class="title">
      <span>Subscribe</span>
      <i class="iconfont close icon-close" @click="close"></i>
    </div>
    <form @submit.prevent="formSubmit">
      <div class="inp">
        <label for="">First Name<span>*</span></label>
        <input type="text" autocomplete="off" v-model="formData['First Name']">
      </div>
      <div class="inp">
        <label for="">Last Name<span>*</span></label>
        <input type="text" autocomplete="off" v-model="formData['Last Name']">
      </div>
      <div class="inp">
        <label for="">Company/University<span>*</span></label>
        <input type="text" autocomplete="off" v-model="formData['Company/University']">
      </div>
      <div class="inp">
        <label for="">Email<span>*</span></label>
        <input type="text" autocomplete="off" v-model="formData['Email']">
      </div>
      <div class="inp">
        <label for="">Which software are you interested in?<span>*</span></label>
        <select name="" id="" v-model="formData['Which software are you interested in?']">
          <option selected disabled value="">please choose</option>
          <option value="LiAir V70">LiAir V70</option>
          <option value="LiAir 50N">LiAir 50N</option>
          <option value="LiAir 220N">LiAir 220N</option>
          <option value="LiAir 250">LiAir 250</option>
          <option value="LiEagle">LiEagle</option>
          <option value="LiHawk">LiHawk</option>
          <option value="LiBackpack C50">LiBackpack C50</option>
          <option value="LiBackpack DGC50">LiBackpack DGC50</option>
          <option value="LiMobile Standard">LiMobile Standard</option>
          <option value="LiPod">LiPod</option>
          <option value="LiDAR360">LiDAR360</option>
          <option value="LiPowerline">LiPowerline</option>
        </select>
      </div>
      <div class="btn">
        <button class="submit" type="submit">Submit</button>
        <button class="reset" type="reset">Reset</button>
      </div>
    </form>
  </div>
</section>