@font-face {
  font-family: "iconfont"; /* Project id 2442348 */
  src: url('iconfont.woff2?t=1628058884247') format('woff2'),
       url('iconfont.woff?t=1628058884247') format('woff'),
       url('iconfont.ttf?t=1628058884247') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e61e";
}

.icon-lightning-full:before {
  content: "\e995";
}

.icon-yidongyunkongzhitaiicon58:before {
  content: "\e74e";
}

.icon-renwu:before {
  content: "\e64d";
}

.icon-shebeiguanli:before {
  content: "\e629";
}

.icon-tubiaozhizuomoban-115:before {
  content: "\e620";
}

.icon-download1:before {
  content: "\e6c3";
}

.icon-zhishikuguanli:before {
  content: "\e604";
}

.icon-scale1:before {
  content: "\e63a";
}

.icon-kaiguan:before {
  content: "\e6c6";
}

.icon-accurate-search-full:before {
  content: "\e8b0";
}

.icon-youjiantou:before {
  content: "\e75e";
}

.icon-iconfontjiantou2:before {
  content: "\e632";
}

.icon-download:before {
  content: "\e6a9";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-dianlan:before {
  content: "\e74d";
}

.icon-twitter:before {
  content: "\e79b";
}

.icon-Youtube:before {
  content: "\ead1";
}

.icon-tubiao210:before {
  content: "\e61b";
}

.icon-linkedin:before {
  content: "\e697";
}

.icon-facebook:before {
  content: "\e609";
}

.icon-youxiang_huaban:before {
  content: "\e627";
}

.icon-dizhi:before {
  content: "\e60a";
}

.icon-arrow-down:before {
  content: "\e648";
}

.icon-yingyong:before {
  content: "\e600";
}

.icon-yingyong1:before {
  content: "\e640";
}

.icon-wheat__easyic:before {
  content: "\e63b";
}

.icon-beibao:before {
  content: "\e60f";
}

.icon-shouhoufuwuicon:before {
  content: "\e68a";
}

.icon-xiaoshouqushi:before {
  content: "\e679";
}

.icon-xiangjisheying:before {
  content: "\e69f";
}

.icon-terrain:before {
  content: "\ed44";
}

.icon-jinzhi:before {
  content: "\e6bd";
}

.icon-left2:before {
  content: "\e6a0";
}

.icon-right1:before {
  content: "\e6d3";
}

.icon-wendang:before {
  content: "\e68b";
}

.icon-dianhua6:before {
  content: "\e67d";
}

.icon-house:before {
  content: "\e698";
}

.icon-measure:before {
  content: "\e687";
}

.icon-linye:before {
  content: "\e688";
}

.icon-jinzhitonghua:before {
  content: "\e67a";
}

.icon-yunxiazai:before {
  content: "\e72e";
}

.icon-icon_buy:before {
  content: "\e685";
}

.icon-chucun:before {
  content: "\e780";
}

.icon-jiguangnengliangcaiji:before {
  content: "\e6a6";
}

.icon-Group-:before {
  content: "\e6c1";
}

.icon-qidong:before {
  content: "\e746";
}

.icon-renjijiaohuD-sanweixuanzhuan:before {
  content: "\e6e2";
}

.icon-xitongfuzai:before {
  content: "\e67b";
}

.icon-email-s:before {
  content: "\e67f";
}

.icon-waihu:before {
  content: "\e702";
}

.icon-ScaleFilled:before {
  content: "\e689";
}

.icon-shuju:before {
  content: "\e681";
}

.icon-feiji:before {
  content: "\e6a8";
}

.icon-clock:before {
  content: "\e695";
}

.icon-ruanjianzhongxin:before {
  content: "\e68e";
}

.icon--mountain:before {
  content: "\e7a7";
}

.icon-yanjing1:before {
  content: "\e8bf";
}

.icon-yinliang1:before {
  content: "\e6c5";
}

.icon-book:before {
  content: "\e932";
}

.icon-mining:before {
  content: "\e9f9";
}

.icon-canshuiconyouhua-:before {
  content: "\e6c2";
}

.icon-bojuelvpaiicontilian_huabanfuben:before {
  content: "\e6aa";
}

.icon-datavDataVshujukeshihua:before {
  content: "\e6a2";
}

.icon-DataAnalysisAI-AIS:before {
  content: "\e755";
}

.icon-shu-1:before {
  content: "\e683";
}

.icon-home:before {
  content: "\e696";
}

.icon-xinhaota:before {
  content: "\e6f4";
}

.icon-weizhidingwei:before {
  content: "\e680";
}

.icon-yuyin:before {
  content: "\e67c";
}

.icon-0_view:before {
  content: "\e68f";
}

.icon-DataSunburst:before {
  content: "\e68d";
}

.icon-city-full:before {
  content: "\e9e9";
}

